.header-container {
    background-color: #950095;
}

.container {
    display: flex;
    justify-content: center;
}

.content-container {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    padding: 0;
}

.img-logo {
    width: 50px;
    margin-right: 10px;
}

.title {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 500;
}