.list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.list-button-container {
    display: flex;
    justify-content: end;
}

.list-button-top {
    width: 175px;
}

.list-content-container {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    padding-right: 8px;
}